.announcement {
  text-align: center;
  box-shadow: inset 0 -400px 200px -50px $black-color;
  height: 100%;

  h2 {
    color: $white-color;
    font-size: 40px;
  }

  p {
    color: $white-color;
    font-size: 25px;
    opacity: 0.8;
  }

  h4 {
    color: $white-color;
    opacity: 0.8;
  }
}

.announcement-bg {
  background-image: url("@/assets/images/announcement.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  height: 80vh;
}

.move-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
