body {
  margin: 0;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

/** ----- containers ----- **/
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-ssm {
    max-width: 400px;
  }

  @include for-sm {
    max-width: 540px;
  }

  @include for-md {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-lg {
    max-width: 960px;
  }

  @include for-xl {
    max-width: 1140px;
  }
}

.shadow-bottom {
  box-shadow: inset 0 -200px 150px -50px $black-color;

  @include for-md {
    box-shadow: inset 0 -400px 300px -100px $black-color;
  }
}
