body {
  margin: 0;
  background-image: url("@/assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  font-size: 30px;
  color: $white-color;
  text-align: center;

  @include for-md {
    font-size: 40px;
  };
}

h3 {
  color: $white-color;
  font-size: 20px;
  text-align: center;

  @include for-md {
    font-size: 25px;
  };
}

h4 {
  color: $white-color;
  font-size: 16px;
  text-align: center;

  @include for-md {
    font-size: 20px;
  };
}

p {
  font-size: 16px;
  color: $white-color;
  text-align: center;
  opacity: 0.8;
  font-weight: 100;

  @include for-md {
    font-size: 20px;
  };
}

h2, h3, h4 {
  margin: 0;
  font-weight: 600;
}

.border-top {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    max-width: 500px;
    height: 2px;
    background-color: $red-color;
    margin: auto;
  }
}

.border-bottom {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    max-width: 500px;
    height: 2px;
    background-color: $red-color;
    margin: auto;
  }
}

.section {
  padding: 50px 0;
}

.btn {
  margin: 30px auto;
  border: 2px solid $white-color;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 40px;
  color: $white-color;
  opacity: 0.8;
  font-size: 20px;
  width: fit-content;
  text-decoration: none;

  @include for-md {
    font-size: 30px;
  }
}

.logo {
  display: flex;
  padding: 100px 0 0;

  img {
    width: 200px;
    margin: auto;
  }
}

.blur-bg {
  backdrop-filter: blur(30px);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(000, 000, 000, 0.5);
  }
}

.intro {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-color;
  animation: fadeOut 1s ease-out;
  animation-delay: 2s;

  .intro-lottie {
      width: 200px;
      height: 200px;
  }
}

.mobile-phone {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 100px;
  display: flex;
  z-index: 999;
  justify-content: center;
}


.square {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 20px solid $red-color;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: -1;

  @include for-sm {
    width: 400px;
    height: 400px;
  }

  @include for-md {
    width: 450px;
    height: 450px;
  }

  @include for-lg {
    width: 500px;
    height: 500px;
  }
}

.position-relative {
  position: relative;
}

/** ----- containers ----- **/
.container {
  width: calc(100% - 30px);
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-ssm {
    max-width: 400px;
  }

  @include for-sm {
    max-width: 540px;
  }

  @include for-md {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-lg {
    max-width: 960px;
  }

  @include for-xl {
    max-width: 1140px;
  }

  @include for-xxl {
    max-width: 1400px;
  }
}


@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}