.contact-block {
  margin: 50px 0;

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include for-md {
      display: block;
    }

    h3 {
      color: $white-color;
      font-size: 24px;

      @include for-md {
        font-size: 20px;
      }
    }

    .schedule-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include for-md {
        display: block;
        text-align: left;
      }

      span {
        color: $white-color;
        font-size: 16px;
        font-weight: 600;

        &:first-child {
          display: inline-block;
          width: 200px;
        }
      }
    }
  }

  .social-media-block {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

    @include for-md {
      margin-left: auto;
      margin-right: unset;
    }

    h3 {
      color: $white-color;
      font-size: 26px;
    }

    .social-media-items {
      display: flex;
      justify-content: space-around;

      .social-media-item {
        a {
          text-decoration: none;
        }

        i {
          color: $white-color;
          font-size: 24px;
        }
      }
    }
  }
}

.black.schedule {
  h3 {
    color: $black-color;
  }

  .schedule-item {
    span {
      color: $black-color;
    }
  }
}

.black.social-media-block {
  h3 {
    color: $black-color;
  }

  .social-media-items {
    .social-media-item {
      i {
        color: $black-color;
      }
    }
  }
}
