.navigation-bar {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: auto;

  .logo {
    max-width: 200px;

    img {
      width: 100%;
    }
  }

  @include for-md {
    background-color: rgba($black-color, 0.7);
  }

  .navigation-bar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: none;

    &.el-menu.el-menu--horizontal {
      border: none;
    }

    .el-menu-item {
      background-color: transparent !important;
      height: auto;
      line-height: normal;
      font-size: 1.375rem;
      color: #fff;
      padding: 0 15px!important;

      &.is-active {
        border-color: transparent;
      }
    }
  }
}

.navigation-bar-mobile {
  min-height: 41px;
  background-color: rgba($black-color, 0.7);
  height: 0;
  transition: height .5s ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;

  &.active {
    height: 100vh;
    overflow: auto;
  }

  .navigation-bar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 0;
    transition: height .5s ease-in-out;
    background-color: $black-color;
    min-height: unset;
    position: relative;
    top: -500px;
    border-right: none;

    .el-menu-item {
      background-color: transparent !important;
      height: 34px;
      text-align: center;
      font-size: 0;
      opacity: 0;
      color: #fff;
      transition: opacity .3s ease-in-out;
      padding: 0 20px!important;
    }

    &.active {
      height: 500px;
      top: 0;

      .el-menu-item {
        font-size: 1.563rem;
        margin: 15px 0;
        opacity: 1;
        z-index: 1;
      }
    }
  }
}