.icon-telegram-1:before {
  content: "\e900";
}
.icon-icon-1:before {
  content: "\e901";
}
.icon-icon:before {
  content: "\e902";
}

// custom icons
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 320px;
  margin: auto;

  @include for-md {
    max-width: 420px;
  }

  @include for-lg {
    flex-wrap: nowrap;
    max-width: none;
  }

  .icon {
    width: 40px;

    @include for-md {
      width: 60px;
    }

    @include for-lg {
      width: 100px;
    }

    img {
      width: 100%;
    }
  }
}