.social-media-block {
  margin: auto;
  text-align: center;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-md {
    margin-left: auto;
    margin-right: unset;
  }

  h3 {
    margin: 20px;
    font-size: 35px;

    @include for-md {
      font-size: 45px;
    }
  }

  .social-media-items {
    display: flex;
    justify-content: center;
    gap: 50px;

    .social-media-item {
      a {
        text-decoration: none;
      }

      i {
        color: $white-color;
        font-size: 35px;
      }
    }
  }
}